


#detail{
    img{width: 100%;}
    .news{margin:5px ;border: 1px solid #eee;border-radius:10px}
    .name{padding: 10px;font-family: "宋体";font-size:25px}
    .address{display: flex;overflow: hidden;justify-content: space-between;
            li{padding:5px;font-family: "黑体"}
    
    }
    .price{margin:10px 0;overflow: hidden;
            b{float: left;margin-left:30px;;color:red;font-size:30px}
            span{float: right;margin-right:100px;}
    }
    .join{padding:20px;overflow: hidden;
        .am-button-small{margin-left:30px;}
        
    
    }
    h4{padding: 16px;font-size:36px;margin:20px 0;border-bottom:1px solid #aaa}
}