<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>
    <style>
        p{color:red}
    </style>
</head>
<body>
    <div id="app">
        <h2>列表循环</h2>
        <p v-for="todo in todos">{{todo}}</p>
        <h3 v-for="(todo,index,list) in todos">{{todo}}==={{index}}</h3>
        <template v-for="(pro,index) in provinces">
            <ul>
                <li>{{pro.name}}=====index
                    <p v-for="(city,index) in pro.cities">{{city.name}}===={{index}}</p>
                </li>
            </ul>
        </template>

        <p v-for="(value,key,index) in object">{{key}}=={{value}}=={{index}}</p>

        <h3><b v-for="li in list">{{li}}　</b></h3>

        <div v-for="(value,key,index) in cars">
            <p>品牌:{{value.brand}}</p>
            <p>型号:{{value.model}}</p>
            <p>颜色:{{value.color}}</p>
        </div>
        <hr>
        <div v-for="(car,index) in cars" v-bind:key="index">
            <p>品牌:{{car.brand}}</p>
            <p>型号:{{car.model}}</p>
            <p>颜色:{{car.color}}</p>
        </div>
    </div>
    <script>
        var provinces = [{name: "浙江",cities: [{name: '金华'}, {name: '杭州'}, {name: '温州'}, ]}, 
                         {name: "湖北",cities: [{name: '武汉'}, {name: '襄樊'}, {name: '黄冈'}, ]},
                         {name: "江苏",cities: [{name: '南京'}, {name: '徐州'}, {name: '连云港'}, ]}];

        var cars = {
            car01 : {brand : "Ford", model : "Mustang", color : "red"},
            car02 : {brand : "Fiat", model : "500", color : "white"},
            car03 : {brand : "Volvo", model : "XC90", color : "black"}};	     


        var vm=new Vue({
            data:{
                provinces,
                cars,
                todos:["node","vue","react","angular","微信小程序"],
                object:{a:"水果",b:"蔬菜",c:"肉类"},
                list:["a","b","c","d","e","f","g"],
            }
        }).$mount("#app")
    </script>
</body>
</html>