
#app12{
    .box{
        margin: 20px;
        width:500px;
        height:300px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
}
#app13{
    width:900px;
    height:500px;
    padding: 30px;
}
#app14{
    width:1200px;
    p{
        width:400px;
        float: left;
    }
}
#app15{
    pre{
        color: #000;
        font-weight: 900;
    }
}
#app16{
    padding-left: 10px;
    pre{
        color: #000;
        background: #ccc;
        padding: 10px 20px;
    }
}