
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>超市账单管理系统</title>
    <link rel="stylesheet" href="/stylesheets/index.css"/>
    <link rel="stylesheet" href="/stylesheets/common.css"/>
</head>
<body>
    <%- include('header')   %>
<!--主体内容-->
<section class="publicMian w1200 ">
    <%- include('contentLeft')   %>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>账单管理页面 >> 订单添加页面</span>
        </div>
        <div class="providerAdd">
            <form action="/billAdd2" method="POST">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div class="">
                    <label for="billId">订单编码：</label>
                    <input type="text" name="no1" id="billId" required/>
                    <span>*请输入订单编码</span>
                </div>
                <div>
                    <label for="billName">商品名称：</label>
                    <input type="text" name="no2" id="billName" required/>
                    <span >*请输入商品名称</span>
                </div>
                <div>
                    <label for="billNum">商品数量：</label>
                    <input type="text" name="no7" id="billNum" required/>
                    <span>*请输入大于0的正自然数，小数点后保留2位</span>
                </div>
                <div>
                    <label for="money">总金额：</label>
                    <input type="text" name="no4" id="money" required/>
                    <span>*请输入大于0的正自然数，小数点后保留2位</span>
                </div>
                <div>
                    <label for="money">供应商：</label>
                    <input type="text" name="no3" id="money" required/>
                    <span>*请选择供应商</span>
                </div>
                <div>
                    <label for="money">是否付款：</label>
                    <input type="text" name="no5" id="money" required/>
                    <span>*请输入是或否</span>
                </div>
                <div>
                    <label for="money">创建时间：</label>
                    <input type="text" name="no6" id="money" required/>
                    <span>*请输入是或否</span>
                </div>
                <div class="providerAddBtn">
                    <input type="submit" value="保存" />
                    <input type="button" value="返回" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer w1200">
</footer>
<script src="/javascripts/time.js"></script>
<script src="/bootstrap/js/jquery-1.10.1.js"></script>
<script>
$(".list li").eq(0).attr("id","active");
</script>

</body>
</html>