
<header class="publicHeader w1200">
    <h1>超市信息管理系统</h1>
    <span id="time"></span>
    <div class="login">
        <p><span style="color: #fff21b"><%- username %></span>　欢迎你！</p>
        <a  onclick="window.location.href='/layout'">退出</a>
    </div>
</header>
    