
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>超市管理系统</title>
    <!-- <link rel="stylesheet" href="/stylesheets/index.css"/> -->
    <!-- <link rel="stylesheet" href="/stylesheets/common.css"/> -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- <script src="/bootstrap/js/bootstrap.min.js"></script> -->

<style>
    html,body{width:100%;height:100%;overflow: hidden;}
    
    .box{width: 320px;;padding:10px 30px;margin:30px auto;background:rgba(150, 112, 214, 0.9);border-radius:10px;position: relative;}
    #login{position: absolute;top:5px;right:10px;color:rgb(18, 245, 253);font-size:10px}
    .box_p1{width: 100%;text-align: center;color: #fff;font-size:20px;}
    .box input{border-radius:4px;color: black;}
    label{color:#fff;}
    .inputmsg{margin:5px 0;overflow: hidden;text-align: left;padding-left:88px;font-size:10px;color:#fff;}
    .box_foot{width: 100%;text-align: center;overflow: hidden;margin-top:20px;}
    #center{margin-left: 350px;;background:black;opacity: 0.8;text-align: center;border-radius:10px;}
    header{width: 100%;height: 60px;line-height:60px;text-align: center}
    header h1{text-align: center;color: #fff;}
</style>
</head>
<body style="background:url(/images/a4.jpg) center center no-repeat;">
           <header><h1>超市信息管理系统</h1></header>
            <div class="box" >  
                <a href="#"  id="login"  onclick="window.location.href='/login'">已有账号,点击登录</a>             
                <p class="box_p1">注册页面</p>
                
                <form action="" method="POST" id="form"> 
                        <div>
                            <label for="username">用户名称：</label>
                            <input type="text" name="username" id="userName" value=""/>
                            <div class="inputmsg"  id="nameMsg">输入6~10位数字,字母</div>
                        </div>
                        <div>
                            <label for="userpassword">用户密码：</label>
                            <input type="password" name="password" id="password"/>
                            <div class="inputmsg" id="passMsg">输入6~12位数字,字母</div>                
                        </div>
                        <div>
                            <label for="userRemi">确认密码：</label>
                            <input type="password"  id="password2"/>
                            <div class="inputmsg" id="passMsg2">请再次输入密码</div>
                        </div>
                        
                        <div>
                            <label >用户性别：</label>　 　　
                            <input type="radio" name="sex" value="男" checked><b style="color:#fff">男</b>
                            <input type="radio" name="sex" value="女"><b style="color:#fff">女</b>
                            <div class="inputmsg" id="passMsg3">　</div>                             
                        </div>
                        <div>
                            <label for="userphone">用户电话：</label>
                            <input type="text" name="userphone" id="userphone" />
                            <div class="inputmsg" id="passMsg4">请输入11位数字</div>
                        </div>
                    <div class="box_foot">
                    <button type="sunmit" id="btnReg" class="btn btn-primary">注册</button>
                    <!-- <button type="button" class="btn btn-danger" onclick="window.location.href='/login'" >登录</button> -->
                    <button type="reset" id="btnRes" class="btn btn-danger">重置</button>
                    </div>
                    
                </form>               
            </div>
    

<!-- <script src="/javascripts/time.js"></script> -->
<script type="text/javascript" src="/javascripts/xheditor/jquery/jquery-1.11.2.min.js"></script>
<script>
    var nameReg=/^[A-Za-z0-9$_]{6,10}$/;
    var passReg=/^[a-zA-Z0-9$_]{6,10}$/;
    var phoneReg=/^1(3|5|6|7|8)[0-9]{9}$/;
    var flag1=false,flag2=false,flag3=false,flag4=false;
   

    $("#btnRes").click(function(){
        $("#nameMsg").html("输入6~10位数字,字母").css({"color":"#fff"});
        $("#passMsg").html("输入6~12位数字,字母").css({"color":"#fff"});
        $("#passMsg2").html("请再次输入密码").css({"color":"#fff"});
        $("#passMsg4").html("请输入11位数字").css({"color":"#fff"});
    })


$(document).ready(function(){
  $("#userName").blur(function(){
    var name=$(this).val();
      if(nameReg.test(name)){flag1=true;
        $("#nameMsg").html("用户名合法").css({"color":"#fff"})
      }else{$("#nameMsg").html("用户名不合法").css({"color":"red"})}
    
  });
});

  $(document).ready(function(){
  $("#password").blur(function(){
    var pass=$(this).val();
      if(passReg.test(pass)){flag2=true;
        $("#passMsg").html("密码合法").css({"color":"#fff"})
      }else{$("#passMsg").html("密码不合法").css({"color":"red"})}
  });
});
$(document).ready(function(){
  $("#password2").blur(function(){
    var pass=$(this).val();
    var pass2=$("#password").val();
      if(pass2==pass){flag3=true;
        $("#passMsg2").html("　").css({"color":"#fff"})
      }else{$("#passMsg2").html("密码不一致").css({"color":"red"})}
    
  });
});
$(document).ready(function(){
  $("#userphone").blur(function(){
    var phone=$(this).val();
      if(phoneReg.test(phone)){flag4=true;
        $("#passMsg4").html("手机号合法").css({"color":"#fff"})
      }else{$("#passMsg4").html("手机好不合法").css({"color":"red"})}
  });
});

 $("#btnReg").click(function(){
        if(flag1&&flag2&&flag3&&flag4){
            $("#form").attr({"action":"/users/register","method":"post"})
        }else{
            $("#form").attr({"method":"get"}); window.location.href='/users/register'; alert("填写信息不完整或错误,请重新填写");
        }
    })
</script>
</body>
</html>