<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <h2>{{title}}</h2>
        <h2 v-if="ok">世界梦中国梦</h2>
        <h2 v-show="show">天道酬勤</h2>
        <h2 v-if="type=='A'">AAAAAAAAAAAAAAAAAAAA</h2>
        <h2 v-else-if="type=='B'">BBBBBBBBBBBBBBB</h2>
        <h2 v-else-if="type=='C'">CCCCCCCCCCCCCCCCCCC</h2>
        <h2 v-else>没有ABC</h2>

        <template v-if='ok'>
            <h1>中华民族</h1>
        </template>
    </div>
    <script>
        var vm=new Vue({
            data:{
                title:"条件渲染",
                ok:true,
                show:false,
                type:"A"
            }
        }).$mount("#app")
    </script>
</body>
</html>