<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
    <style>
        label{
            display: block;
        }
        .hide{
            display: none;
        }
    </style>
</head>
<body>
    <h2>zhuce register 注册</h2>

    <form action="/register" method="POST" >
        <label for="usernameControl" >
            <input id="usernameControl" name="username" placeholder="请输入用户名" type="text">
        </label>
        <label for="passwordControl" >
            <input id="passwordControl" name="password" placeholder="请输入密码" type="password">
        </label>
        <label for="dbpasswordControl" >
            <input id="dbpasswordControl" name="dbpassword" placeholder="请输入确认密码" type="password">
        </label>
        <label for="">
            <button type="submit">注册</button>
        </label>
    </form>
</body>
</html>