


@import "../../utils/animate.min.css";
// #deleteone{animation: zoomOutRight .7s;}
#deleteone{display:none;}
#car{width: 100%;overflow: hidden;
    .my-list{
        width:100%;margin-bottom:190px;
        
       li{
           width:100%;
           float:left;
           height:200px;
           box-sizing: border-box;
           padding:20px;
           border:1px solid #ddd;
               img{
                   float: left;
                   width:160px;
                   height:160px;
                   margin-left:5px;
                   border-radius:12px
                   
               }
               .title{float: left;width:400px;height:200px;
                   p{color:#666;font-size:20px;padding:6px}
                   .title_h{margin-top:10px;padding:5px;
                        h4{width: 70px;height: 20px;line-height:20px;color:red;margin-bottom:10px;}
                        h5{float: left;height: 20px;line-height:20px;margin-left:10px;
                            button{background:#fff !important;border-color:#eee}
                            .num{width:50px;}
                            }
                        span{float: left;width: 100px;height:40px;line-height:40px;text-align: center}
                        h6{float: left;margin-left:10px;}
                   }
               }
              
               input{float:left;margin:5px;margin-top:70px;}
          
       }
    }
    .car_pay{position: fixed;left: 0;bottom:90px;line-height:80px;display: none;
            height:80px;width:100%;z-index:999;background:#efefef;
            h3{float: left;margin-left:20px;}
            h4{float: right;margin-right:20px;width: 300px;
                b{display: inline-block;width: 160px;}
               

            }
    
        }


    .moveIn{animation:fadeInDown .8s;}
    
    .appear{animation:wobble ; }
}
