#car .my-list {
  width: 100%;
  margin-bottom: 190px;
}

#car .my-list li {
  width: 100%;
  float: left;
  height: 200px;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ddd;
}

#car .my-list li img {
  float: left;
  width: 160px;
  height: 160px;
  margin-left: 5px;
  border-radius: 12px;
}

#car .my-list li .title {
  float: left;
  width: 400px;
  height: 200px;
}

#car .my-list li .title p {
  color: #666;
  font-size: 20px;
  padding: 6px;
}

#car .my-list li .title h3 {
  margin-top: 10px;
  padding: 5px;
}

#car .my-list li .title h3 h4 {
  width: 70px;
  height: 20px;
  line-height: 20px;
  color: red;
  margin-bottom: 10px;
}

#car .my-list li .title h3 h5 {
  float: left;
  height: 20px;
  line-height: 20px;
  margin-left: 10px;
}

#car .my-list li .title h3 h5 button {
  background: #fff !important;
  border-color: #eee;
}

#car .my-list li .title h3 h5 .num {
  width: 50px;
}

#car .my-list li .title h3 span {
  float: left;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

#car .my-list li .title h3 h6 {
  float: left;
  margin-left: 10px;
}

#car .my-list li input {
  float: left;
  margin: 5px;
  margin-top: 70px;
}

#car .car_pay {
  position: fixed;
  left: 0;
  bottom: 90px;
  line-height: 80px;
  height: 80px;
  width: 100%;
  z-index: 999;
  background: #efefef;
}

#car .car_pay h3 {
  float: left;
  margin-left: 20px;
}

#car .car_pay h4 {
  float: right;
  margin-right: 20px;
  width: 300px;
}

#car .car_pay h4 b {
  display: inline-block;
  width: 160px;
}

#car .car_pay h4 span {
  display: inline-block;
  background: #f55719;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  border-radius: 10px;
  padding: 0 8px;
  color: #fff;
}

#car .moveIn {
  animation: fadeInDown .8s;
}

#car .appear {
  animation: wobble;
}
