* {margin: 0;padding: 0;}


.login_bg { background: url("../img/loginBg.jpg") 0 0 repeat-x;}

.loginBox {width: 1000px;margin: 0 auto; background: url("../img/login_bg.jpg") 0 0 no-repeat;}

.loginHeader {padding-top: 102px;text-align: center; padding-bottom: 30px;}

.loginHeader h1 {color: #fff; text-shadow: 2px 2px #000;}

.loginCont {width: 388px; height: 284px;/*border: 1px solid red ;*/ margin: 0 auto;}

.formBox {position: relative;}


::-webkit-input-placeholder {color: rgb(190, 188, 188);    /*font-style: italic;*/}

input:-moz-placeholder,textarea:-moz-placeholder {color: rgb(190, 188, 188);font-style: italic;}


input {outline: none;}

.loginForm {background: url("../img/formBg.png") 0 0 no-repeat;width: 320px;height: 140px; border-radius: 8px;
    padding: 90px 38px 48px 30px;  /*border: 1px solid green;*/}

.loginForm label { width: 20%; display: inline-block;}

.inputbox {    height: 60px;}

.inputbox input {width: 66%;padding: 10px 5px 10px 20px;border: 1px solid rgb(178, 178, 178);border-radius: 3px;    
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;-moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

}


.inputbox input:active, .providerAdd input:focus,
.inputbox input:focus {border: 1px solid rgba(117, 2, 92, 0.7);background: rgba(156, 1, 143, 0.795);}

.subBtn {margin-left: 70px;}


input[type='submit'], 
input[type='reset'], 
.providerView a {padding:0 10px; cursor: pointer;background: #54a4d7; color: #fff; font-size: 18px;
     border: 1px solid #4682be; margin-bottom: 10px;margin-right: 22px;}

input[type='submit']:hover, input[type='reset']:hover { background: rgb(31, 243, 3);}

input[type='submit']:active,
 input[type='submit']:focus,
input[type='reset']:active, 
input[type='reset']:focus, 
.providerView a:hover, 
.providerView a:active { background: #04daa4; border: 1px solid rgb(7, 218, 165);}


.wColck {width: 88px; height: 108px;margin: 50px; float: left;}
.wFont {width: 100%;height: 100px;;text-align: center;font-size:50px;color: #1a8b03;margin-top: 100px;}

.wFont h2 {font-size: 30px;line-height: 50px;color: #0a5eb6;}

.wFont p {font-size: 14px;line-height: 30px; color: #5a656c;}

.providerTable {width: 100%;border: 1px solid #ccc;}

.providerTable tr {height:26px;line-height: 26px;text-align: center;}

.providerTable tr:nth-child(odd) {background: #9b45fd5b;}

.providerTable tr:hover {background: #be31ff;}

.firstTr {border: 1px solid #d6dfe6; background:rgb(240, 187, 187);}

.firstTr th {border-right: 2px solid rgba(209, 218, 223, 0.4);}

.providerTable td a {display: inline-block;width: 40px;height: 26px;color:#fff;border-radius: 4px; margin:5px 5px;}

.providerView {width: 600px;margin: 20px 0;font-size: 18px;line-height: 30px;padding:30px;border: 1px solid #1a8b03;
    overflow: hidden;}

.providerView_r{float: left;}
.providerView_l{float: left;}
.providerView p img{width: 200px;height: 260px;}
.providerView strong {display: inline-block;width: 200px;text-align: right;}

.providerView span {color: #bd644e;}

.providerView a {display:block;width: 50px;;text-align: center;margin:20px auto;}

.providerAdd {border: 1px solid #9ac70f;padding: 20px;margin: 20px;}

.providerAdd div {margin-top: 12px; margin-bottom: 12px;}

.providerAdd label {width: 200px;display: inline-block;text-align: right;}

.providerAdd input ,
.providerAdd select{width: 260px; height: 30px;line-height: 30px; border-radius: 4px;outline: none;
    padding-left: 10px;border: 1px solid #4987c0;box-shadow: 1px 1px 1px #99afc4;
}

.providerAdd input:focus,.providerAdd select:focus {
    border: 1px solid #0e56a8;
    background: rgba(238, 236, 240, 0.2);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
}

.providerAdd span {margin-left: 20px;color: #faca0d;}

.providerAdd .error span {color: red;}

.providerAdd .error input {border: 1px solid red;}

.providerAdd .ok span { color: green;}

.providerAdd .ok input {border: 1px solid green;}

.providerAddBtn {margin-left: 240px; padding-top: 20px;}


.providerAddBtn input[type='submit'],
.providerAddBtn input[type='button'] {
    display: inline-block;width: 100px; height: 30px; line-height: 30px;
    text-align: center;border-radius: 4px; border: transparent;
    background:rgb(10, 224, 57); color: #fff; cursor: pointer;
    font-weight: bold; font-size: 14px; vertical-align: top;
}

.providerAddBtn a:active,
.providerAddBtn a:focus,
.providerAddBtn a:hover,
.providerAddBtn input[type='submit']:hover,
.providerAddBtn input[type='submit']:focus{
    background: linear-gradient(to bottom, #7aaed4, #578bb4, #406e99, #225792, #0d2d54);}

.providerAdd input[type='radio']{width: 20px; height: 14px;line-height:12px; border-radius: 4px;
    outline: none; padding-left: 10px; border: none;box-shadow: none;}

.zhezhao {display:none;position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #000;opacity: 0.7;
    filter: alpha(opacity=70);overflow: hidden;}
.remove{display: none;width: 400px;height: 190px;position: absolute;top: 200px;
    left:500px;background: #fff; border-radius: 4px;}
.removerChid{margin: 4px; border: 1px solid #ccc;}
.removerChid h2{padding-left: 8px;font-size: 14px;line-height: 30px; margin: 4px 8px;border-bottom: 1px solid #99cc33;}
.removeMain{margin-top: 38px;text-align: center;margin-bottom: 30px;border-radius: 4px;}
.removeMain a{padding: 0 20px;display: inline-block;height: 30px;line-height: 30px;border-radius: 4px;
    border: 1px solid #5e8809; margin-top: 30px; background: #99cc33; color: #fff;}
.removeMain a:hover,.removeMain a:active{background: #679016;}

.trheight{height:100px !important;}
.contentImg{text-align: left !important}
.contentImg img{max-width:100px;max-height:100px;vertical-align: top;}


#trfoot td a{background: #941e00 !important;color: #fff;}
.tr_a1{background: rgb(20, 4, 253)}
.tr_a2{background: rgb(12, 247, 51)}
.tr_a3{background: rgb(252, 1, 1)}
