.at-nav-bar {
  height: 90px;
}

.at-tabs__header {
  height: 80px;
}
.at-search-bar {
  height: 80px;
}
.at-tabs__item-underline {
  left: 40%;
  width: 20%;
  background-color: #d70000;
};

.at-tabs__item--active {
  color: #d70000;
  size: 18PX;
};
.orderItemHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 82px;
  align-items: center;
  //width: 100vw;
  //@extend .margin_12;
  padding-left: 12PX;
  padding-right: 12Px;
  background: white;
}


.orderRoot {
  width: 100vw;
  height: 100vh;
  //margin-bottom: 106px;
}
.text_999_12 {
  font-size: 12PX;
  color: #999999;
}
.text_666_12 {
  font-size: 12PX;
  color: #666666;
}
.text_FF8A01_12 {
  color: #FF8A01;
  font-size: 12PX;
}
.margin_12 {
  margin-left: 12PX;
  margin-right: 12PX;
}
.order_total_price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 60PX;
  align-items: center;
  @extend .margin_12
}

.order_goods_name {
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  text-align: left;
  max-width: 50vw;
  min-width: 50vw;
  height: 57PX;
}

.order_goods_num {
  text-align: center;
  color: #999999;
  font-size: 14PX;
  width: 20vw;
}

.order_goods_price {
  text-align: end;
  color: #d70000;
  font-size: 16PX;
  width: 30vw
;
}

.order_detail_good_name {
  color: #333;
  font-size: 16PX;
  height: 30PX;

  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: nowrap;
}
.mescroll{
  position: fixed;
  top: 0;
  bottom: 0;
  height: calc(100vh - 80Px) !important;
}
