#array9{
    padding: 15px;
}
#array15{
    padding: 15px;
}
#array13{
    padding: 15px;
}
#array16{
    padding: 15px;
    pre{
        border: 1px solid rgb(165, 165, 165);
        margin-bottom: 10px;
    }
}
#array17{
    padding: 15px;
    pre{
        color:#000
    }
}
#array18{
    padding: 15px;
    pre{
        color:#000
    }
}
#array20{
    padding: 15px;
    margin: 0 auto;
    #video{
        width: 500px;
        height: 500px;
    }
    #canvas{
        width: 500px;
        height: 500px;
    }
}