<style>
    header{
        width:100%;
        height:50px;
        text-align: center;
        line-height: 50px;
        font-size:30px;
        color:red;
        background: -webkit-linear-gradient(left, pink 20%, yellow 50%, green 100%);
    }
</style>

<header>
    <span><%- title %></span>
</header>