<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <style>
        .static{
            width:200px;
            height:200px;
            margin:10px;
            background: orange;
        }
        .box{
            width:100px;
            height:100px;
          
            background: red;
        }

    </style>
</head>
<body>
    <div id="app">
        <h2>{{title}}</h2>
        <input type="text" v-model.trim.lazy="txt">
        <h2>{{txt }}</h2>

        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">请先同意我们的协议</label>
        <h2>{{checked}}</h2>

        <div id='example-3'>
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{ checkedNames }}</span>
        </div>

        <div>
            <h2>性别 : </h2>
            <input type="radio" id="man" v-model="picked" value="man">
            <label for="man">男</label>
            <input type="radio" id="woman" v-model="picked" value="woman">
            <label for="woman">女</label>
            <h2>{{picked}}</h2>
        </div>

        <div>
            <h2>选择你想去工作的城市:</h2>
            <select v-model="selected"  >
                <option value="">请选择城市</option>
                <option v-for="(city,index) in cities" :key="index" :value="city.value">{{city.name}}</option>
            </select>
            <h2>{{selected}}</h2>
        </div>

        <div>
            <h2>动态值绑定 </h2>
            <input type="checkbox"
                v-model="toggle"
                v-bind:true-value = "a"
                v-bind:false-value = "b"
            >你的回答是
            <h2>{{toggle}}</h2>

            <div>
                <input type="radio" v-model="pick" v-bind:value="c">猫
                <input type="radio" v-model="pick" :value="d">狗
                <input type="radio" v-model="pick" v-bind:value="e"> 猪

                <h2>{{pick}}</h2>
            </div>
        </div>

        <h2>购物车案例 ---vue</h2>
        <table>
            <thead>
                <tr>
                    <td>序号</td>
                    <td>选中</td>
                    <td>商品名称</td>
                    <td>商品单价</td>
                    <td>商品数量</td>
                    <td>商品小计</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(go,i) in goods" v-bind:key="i">
                    <td>{{i+1}}</td>
                    <td><input type="checkbox" v-model="go.check"></td>
                    <td>{{go.title}}</td>
                    <td>{{go.price}}</td>
                    <td><button @click="go.count++">+</button> <b>{{go.count}}</b> <button @click="go.count<=1?go.count=1:go.count--">-</button></td>
                    <td>{{go.price * go.count  }}</td>
                    <td><button @click="goods.splice(i,1)">删除</button></td>
                </tr>
            </tbody>
        </table>
        <input  type="checkbox" id="checbox" v-model="quan">
        <label for="checbox">全选反选</label>
        <button @click="checkall" :disabled="quan">全选</button>
        <h2>总结 : {{total}} ---- {{totala}}</h2>
        

    </div>


    <script src="../js/vue.js"></script>
    <script>
    let vm = new Vue({
        data:{
            title:"表单输入   v-model ",
            txt:"1803 努力每一天 ",
            checked:false,
            checkedNames:["Mike"],
            picked:"",
            cities:[
                {name:"北京",value:"BJ"},
                {name:"上海",value:"SH"},
                {name:"天津",value:"TJ"},
                {name:"深圳",value:"SZ"},
                {name:"成都",value:"CD"},
                {name:"武汉",value:"WH"}
            ],
            selected:"BJ",
            toggle:"done!",
            a:"done!",
            b:"forget!",
            c:"cat",
            d:"dog",
            e:"pig",
            pick:"cat",
            goods:[
                {check:false,title:"上衣",price:200,count:10},
                {check:true,title:"裤子",price:100,count:10},
                {check:false,title:"鞋子",price:500,count:10},
                {check:false,title:"风衣",price:1000,count:10},
                {check:true,title:"帽子",price:300,count:10},
                {check:true,title:"西服",price:2000,count:10},
            ],
            totala:0
           
        },
        methods:{
            checkall(){
                this.quan = true;
            }
        },
        computed:{
            quan:{
                get(){
                    var flag = true;
                    this.goods.forEach((good)=>{
                        if(!good.check){
                            flag = false;
                        }
                    })

                    return flag;
                },
                set(val){
                    console.log(val);
                    var arr = this.goods.map((good)=>{
                        good.check = val;
                        return good;
                    });

                    this.goods = arr;
                }
            },
            total:{
                get(){
                    var total = 0;
                    this.goods.forEach((good)=>{
                        if(good.check){
                            total += good.count * good.price;
                        }
                    })
                    return total;
                },
            }
        },
        watch:{
            goods:{
                handler(val){
                    console.log(val);
                    this.totala = 0;
                    val.forEach((good)=>{
                        if(good.check){
                            this.totala += good.price * good.count;
                        }
                    })
                },
                deep:true
            }
        },
        mounted(){
            document.querySelector("title").innerHTML = this.title;

            this.goods.forEach((good)=>{
                if(good.check){
                    this.totala += good.price * good.count;
                }
            })
        }
    }).$mount("#app")

    </script>
</body>
</html>

<!-- 

    深度监听 

    可变对象  object 数组  vue视图系统无法监测到 可变对象的变化 

    不可变对象   string   vue视图系统 可以 监测到 不可变对象的变化 

 -->