<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
   <div id="app">
        <p>{{txt}}</p>
        <h3 v-text="txt"></h3> 
        <div v-html="tag"></div>
        <p v-if="seen">{{txt}}---if</p>
        <p v-show="seen" v-on:click="seen=!seen">{{txt}}---show</p>
        <p v-on:click="reverse('args')">{{word}}</p>
        <button @click="add(10)">{{count}}</button>

        <div>
            <h2 v-for="(todo,index) in todos">{{todo.item}}-----{{index}}</h2>
        </div>

        <div>
            <h4>数据双向绑定 v-model</h4>
            <input type="text" v-model="data1">
            <h3>{{data1}}</h3>


            <h4>vue 自定义数据绑定</h4>
            <input type="text" v-on:input="input($event)" :value="count">
            <h3>{{count}}</h3>
        </div>
   </div> 
   <script> 
    var vm =new Vue({

        el:"#app",
        data:{
            txt:"好好学习,努力赚钱!",
            tag:"<h2>新中国 新时代</h2>",
            seen:1,
            word:"点击倒转",
            count:2018,
            todos:[{item:"苹果"},{item:"香蕉"},{item:"西瓜"}],
            data1:"好好学习"
        },
        methods:{
            reverse(args){
                this.word=this.word.split("").reverse("").join("")
            },
            add(number){
                this.count+=number;
            },
            input(e){
                this.count=e.target.value;
            }
            
        }
    })
   </script>
</body>
</html>