<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script src="http://47.94.208.182/base/js/jquery-1.10.1.min.js"></script>
    <script src="../js/axios.js"></script>
    <script src="../js/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap/css/bootstrap.min.css">
    
    <style>
        .static{
            width:200px;
            height:200px;
            margin:10px;
            background: orange;
        }
        label{
            display: block;
        }
        .box{
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="container box">
            <div class="col-md-12">
                <form  >
                    <div class="form-group">
                        <label for="usernameControl">开发者</label>
                        <input type="text" v-model = "project.username" class="form-control" name="username" id="usernameControl" placeholder="开发者">
                    </div>
                    <div class="form-group">
                        <label for="usernameControl">框架</label>
                        <select v-model = "project.type" class="form-control">
                            <option value="">请选择框架类型</option>
                            <option value="Node">Node</option>
                            <option value="Vue">Vue</option>
                            <option value="React">React</option>
                            <option value="Angular">Angular</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="mobileControl">项目名称</label>
                        <input type="text" v-model = "project.projectName" class="form-control" name="mobile" id="mobileControl" placeholder="项目名称">
                    </div>
                    <div class="form-group">
                        <label for="passwordControl">项目线上地址:</label>
                        <input type="text" v-model = "project.projectUrl" class="form-control" name="password" id="passwordControl" placeholder="项目线上地址">
                    </div>
                    <div class="form-group">
                        <label for="readme">备注:</label>
                        <textarea id="readme" v-model="project.readme" class="form-control" placeholder="备注"></textarea>
                    </div>
                    <button type="button" @click="send()" class="btn btn-primary">提交</button>
                    <button type="reset" class="btn btn-warning">重置</button>
                </form>

                <table class="table table-hover table-bordered">
                    <caption class="h1 text-info">1803 项目地址</caption>
                     <tr class="text-center text-danger">
                        <td>序号</td>
                        <td>框架</td>
                        <td>开发者</td>
                        <td>项目名称</td>
                        <td>项目地址</td>
                        <td>备注</td>
                        <td>操作</td>
                    </tr>
                    <tr class="text-center text-warning" :key="index" v-for="(pro,index) in projects">
                        <td>{{index+1}}</td>
                        <td>{{pro.type}}</td>
                        <td class="text-primary">{{pro.username}}</td>
                        <td>{{pro.projectName}}</td>
                        <td><a :href="pro.projectUrl">{{pro.projectUrl}}</a></td>
                        <td>{{pro.readme}}</td>
                        <td><button class="btn btn-primary">删除</button><button class="btn btn-warning">修改</button></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

    <script src="../js/vue.js"></script>
    <script src="../js/vue-resource.js"></script>
    <script>
    axios.defaults.baseURL = "http://47.94.208.182:7700/"
    let vm = new Vue({
        data:{
            title:"1803 项目验收",
            project:{
                username:"",
                projectName:"",
                projectUrl:"",
                readme:"",
                type:""
            },
            projects:[]
        },
        methods:{
            send(){
                axios.post("/vue/project/insert",this.project)
                .then(res=>{
                    console.log(res.data);
                    window.location.href = "vue-project.html";
                })
            }
        },

        created(){
            axios.get("/vue/project/getall",{})
            .then(res=>{
                this.projects = res.data;
            })
        },
        mounted(){
            document.querySelector("title").innerHTML = this.title;

        }
    }).$mount("#app")

    </script>
</body>
</html>

