

#register{overflow: hidden;
    .section{overflow: hidden;}
    .btncode{padding:8px;background:#108ee9;color:#fff;border-color:#fff;border-radius:5px}
    .reg_icon{width: 100%;overflow: hidden;
        display:flex;justify-content: space-around;padding:30px 0;
            li{width:30%;overflow: hidden;
            img{margin:0 auto}}
    }
}

