.sider-inner {
  height: 10px;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.main-submenu-first {
  span {
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #4c4c4c;
  }
  .first-title {
    padding-left: 10px;
  }
}

.special-main-submenu-second {
  .submenu-img {
    padding-left: 27.5/19.2vw;
  }
  span {
    padding-left: 1px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #878e97;
   
  }
  span:hover{
     color: #007aff;
  }
  .ant-menu-submenu-arrow {
    display: none;
  }
  .ant-menu-submenu-open {
    .ant-menu-submenu-arrow {
      display: none;
    }
  }
}

.main-submenu-second {
  span {
    padding-left: 30px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #878e97;
  }
  .ant-menu-submenu-arrow {
    display: none;
  }
  .ant-menu-submenu-open {
    .ant-menu-submenu-arrow {
      display: none;
    }
  }
}

.ant-menu-submenu-title,
.ant-menu-item {
  padding-left: 0 !important;
}

.submenu-divider {
  border-bottom: 1px solid #e5e5e5;
}

.submenu {
  margin-left: 30px;
}

// .menu-third-sub{
//   padding-left: 85px!important;
// }
// .ant-menu-submenu-arrow::before,
// ::after {
//   display: none;
// }

// ::after{
//   display: none;
// }

.ant-menu-inline .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-vertical .ant-menu-item:after{
  border-right: 3px solid #fff;
}

// .main-submenu-first+.ant-menu-submenu-arrow {
//   background: url(../../../styles/images/sidebarMenu/icon_shouqi.png);
//   background-size: 100% 100%;
//   width: 11px !important;
//   height: 12px;
//   transform: translateY(-3px) !important;
// }

// .ant-menu-submenu-open {
//   .main-submenu-first+.ant-menu-submenu-arrow {
//     background: url(../../../styles/images/sidebarMenu/icon_zhankai.png);
//     background-size: 100% 100%;
//     width: 12px !important;
//     height: 11px;
//   }
// }

.main-submenu-third {
  padding-left: 62/19.2vw;
  font-family: MicrosoftYaHei;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #007aff;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background: #fff!important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected a span{
  color:#007aff!important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected a{
  color:#007aff!important;
}