<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue</title>
</head>
<body>
    <div id="app">
        <p>{{txt}}</p>
        <h2 v-text="txt"></h2>
        <div v-html="tag" v-bind:data-id='id' >
            
        </div>
        <h2 v-if="seen" v-bind:id="'if'">{{txt}}--if</h2>
        <h2 v-show="!seen" v-bind:id="'show'" v-on:click="seen=!seen" >{{txt}}---show</h2>

        <button v-on:click="reserse('wh1803 daydayup')">翻转txt</button>

        <button @click="add(10)" >{{count}}</button>

        <div>
            <h3 v-for="(todo,index) in todos"   >{{todo.text}}---{{index}}</h3>
        </div>

        <div>
            <h2>数据双向绑定 v-model</h2>
            <input type="text" v-model="inp">
            <h4>{{inp}}</h4>
            
            <h2>vue 自定义 数据双向绑定</h2>
            <input type="text" v-on:input="input($event)" :value="count" >
             <h2>{{count}}</h2>
        </div>

    </div>
    <!-- 
        v-text 绑定innerHTML 
        v-html 绑定html 

        v-for  遍历数据 

        v-if   显示隐藏   渲染或者不渲染
        v-show  显示隐藏   样式 display:none 

        v-bind   绑定属性  :src="src"
        v-on   /   @ 

        methods 定义方法 

        v-model  *****  实现数据双向绑定    结合表单  input/textarea   
        view  视图层  
        modal 数据层  
        修改视图层  更新数据层数据
        修改数据层  更新视图层页面

        通过 v-model 指令 把 dom(视图) 和 data(数据) 绑定在一起 (vm)
        当你修改 view 触发 DOM listeners 它就马上去修改对应的model 绑定的data的值 
        当你修改 model (data) , 执行data-binding  触发vm 事件去修改对应的视图 view 
        
        
     -->

    <script src="../js/vue.js"></script>
    <script>
    const vm = new Vue({
        el:"#app",
        data:{
            txt:"精通vue,哪里都不怕",
            tag:"<h2>daydayup 1803</h2>",
            id:1234,
            seen:!!0,
            count:2018,
            todos: [
                { text: '学习 JavaScript' },
                { text: '学习 Vue' },
                { text: '整个牛项目' }
            ],
            inp:"zkl"
        },
        methods:{
            reserse(args){
                console.log(args);
                this.txt = this.txt.split("").reverse().join("");
            },
            add(number){
                this.count += number;
            },
            input(e){
                console.log(e.target.value);
                this.count = e.target.value;
            }
        }
    })
    </script>
</body>
</html>