@charset "UTF-8";
#mine {
  width: 100%;
  height: 100%;
  position: relative;
  background: #fafafa;
  float: left;
}

#mine .mine_head {
  width: 100%;
  height: 200px;
}

#mine .mine_head .mine_head_bg {
  width: 100%;
}

#mine .mine_head .mine_head_hd {
  position: absolute;
  top: 130px;
  width: 300px;
  left: 10px;
}

#mine .mine_head .mine_head_hd img {
  float: left;
}

#mine .mine_head .mine_head_hd span {
  float: left;
  margin-left: 10px;
  margin-top: 24px;
  color: #fff;
  background: #f50505;
  padding: 10px;
  border-radius: 4px;
}

#mine .myicon {
  display: flex !important;
  margin-top: 60px;
  height: 130px;
  background: #fff;
}

#mine .myicon .div_icon {
  display: block;
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-direction: column;
  box-sizing: border-box;
  padding: 12px 0;
  text-align: center;
  font-family: "微软雅黑";
  color: #999;
}

#mine .myicon .div_icon i {
  width: 100%;
  height: 65px;
  line-height: 45px;
  font-size: 55px !important;
}

#mine .myicon .div_icon span {
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 26px;
}

#mine .am-list-header {
  font-size: 30px !important;
}

#mine .am-list-item .am-list-line .am-list-content {
  padding: 26px !important;
}

#mine .am-list-body {
  margin-bottom: 100px;
}
