<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script src="http://47.94.208.182/base/js/jquery-1.10.1.min.js"></script>
    <style>
        .static{
            width:200px;
            height:200px;
            margin:10px;
            background: orange;
        }
        .box{
            width:100px;
            height:100px;
          
            background: red;
        }
        label{
            display: block;
        }

    </style>
</head>
<body>
    <div id="app">
        <h2>{{title}}</h2>
        <h2>word=== {{word}}</h2>
        <h2>vue 注册</h2>
        <form action="">
            <label for="">
                <input type="text" placeholder="请输入用户名" v-model="userInfo.username">
            </label>
            <label for="">
                <input type="text" placeholder="请输入昵称"  v-model="userInfo.nickname">
            </label>
            <label for="">
                <input type="password" placeholder="请输入密码"  v-model="userInfo.pwd">
            </label>
            <label for="">
                <input type="password" placeholder="请输入确认密码"  v-model="userInfo.dbpwd">
            </label>
            <button @click="submit()" type="button">注册</button>
        </form>
    </div>
    <!-- 
        $.ajax
        $.post   $.get(url,{postData},{params ?},callback)
        $.get  $.get(url,{params ?},callback)
        $.getJSON
        $.jsonP
        $.getScript
        $.load

        $.ajax({
            url,
            type,
            data:{

            },
            dataType:"json",
            beforeSend,
            timeOut
            success,
            complete()
        })

     -->
    <script src="../js/vue.js"></script>
    <script>
    let vm = new Vue({
        data:{
            title:"vue ajax $.ajax axios vue-resource  ",
            word:"",
            userInfo:{
                username:"",
                nickname:"",
                pwd:"",
                dbpwd:""
            }
    
        },
        methods:{
            submit(){
               $.post("http://localhost:4400/vue/register",
               {
                   username:this.userInfo.username,
                   nickname:this.userInfo.nickname,
                   pwd:this.userInfo.pwd,
                   dbpwd:this.userInfo.dbpwd
               },
               (res)=>{
                   console.log(res);
               }
                 )
            }
        },
        created(){
            $.get("http://localhost:4400/vue",{
                id:123456
            },(data)=>{
                console.log(data);
                this.word = data;
            });
        },
        mounted(){
            document.querySelector("title").innerHTML = this.title;

        }
    }).$mount("#app")

    $.ajax({
        url:"http://localhost:4400/wh1803/zuzoumu",
        data:{
            id:1234,
        },
        type:"GET",
        success(res){
            console.log(res);
        }
    })
    </script>
</body>
</html>

