<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <h3>{{msg}}</h3>

        <div>
            <p v-for="(todo,index) in todos">{{todo}} <button @click="del(index)">×</button></p>
        </div>

        <div>
            <h3>写出喜欢的水果</h3>
            <input type="text" v-model="fruit">
            <button @click="addfruit(fruit)">添加</button>
        </div>
    </div>
    <script>
        var vm=new Vue({
            el:"#app",
            data:{
                msg:"vue-留言板",
                todos:["苹果",'西瓜','香蕉'],
                fruit:""
            },
            methods:{
                del(index){
                    this.todos.splice(index,1)
                },
                addfruit(fruit){
                    this.todos.push(this.fruit);
                    this.fruit=""
                }
               
            }
        })
    </script>
</body>
</html>