<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cancel</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

    <%-  include('header',{title:"注销"})  %>
    <div class="container">
        <div class="col-md-4">
            <form action="/users/cancel" method="POST">
                <div class="form-group">
                    <label for="usernameControl">用户名</label>
                    <input type="text" class="form-control"  name="username" id="usernameControl" placeholder="用户名">
                </div>
                <div class="form-group">
                    <label for="passwordControl">密码:</label>
                    <input type="password" class="form-control" name="password" id="passwordControl" placeholder="密码">
                </div>
                <button type="submit" class="btn btn-primary">删除账号</button>


            </form>
        </div>
    </div>
    <%-  include('footer') %>
</body>
</html>