<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HBSQI</title>
  <link rel="icon" href="<%= context.publicPath %>favicon.png" type="image/x-icon">
  <script>
    less = {
      env: "production",
      async: true,
      fileAsync: false,
      poll: 1000,
      functions: {},
      dumpLineNumbers: "comments",
      relativeUrls: false,
    };

  </script>
  <link rel="stylesheet/less" href="<%= context.publicPath %>theme.less" />
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>
  <script src="<%= context.publicPath %>less.min.js"></script>
</head>

<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>
</body>

</html>