#head {
  background: #eaeaea;
}

#head h1 {
  padding: 10px;
  font-size: 30px;
  background: #fff;
  text-align: center;
}

#head .head_new {
  width: 100%;
  overflow: hidden;
  margin-bottom: 100px;
}

#head .head_new li {
  width: 100%;
  overflow: hidden;
  background: #fff;
  margin: 10px 0;
}

#head .head_new li h2 {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

#head .head_new li h2 img {
  width: 100%;
  margin-top: -100px;
  height: 500px;
}

#head .head_new li h3 {
  padding: 10px;
  margin: 10px 0;
  overflow: hidden;
}

#head .head_new li h3 p {
  font-family: 'Arial Narrow';
  margin: 10px 0;
  color: #000;
}

#head .head_new li h3 b {
  float: left;
  margin-left: 20px;
  color: red;
  font-size: 23px;
}

#head .head_new li h3 .normal_price {
  text-decoration: line-through;
  color: #000;
}

#head .head_new li h3 em {
  float: left;
  margin-left: 20px;
  font-size: 26px;
  color: red;
}

#head .head_new li h3 span {
  float: right;
  margin-right: 100px;
  color: #999;
}
