html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#app{
    background: #fff;
    /* padding: 0.8rem; */
}
header{
    text-align: center;
    font-size: 1.6rem;
    line-height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: #00a2ff;
    z-index: 9;
    color: #fff;
}
.back{
    position: absolute;
    top: 1rem;
    left: 1.2rem;
    width: 0.8rem;
    height: 0.8rem;
    border: 0.1rem solid;
    border-color: transparent transparent #000 #000;
    transform: rotate(45deg);
}
.section{
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border-bottom: 0.05rem solid #f6f6f6;
    color: #111;
}
.module{
    width: 100%;
    height: 0.5rem;
    background:#f0f0f0;
}
.form_name{
    display: inline-block;
    width:7rem ;
    font-size:1rem;
    color: #999;
}
.form_name_long{
    display: inline-block;
    width:10rem ;
    font-size:1rem;
    color: #999;
}
.form_name_sort{
    display: inline-block;
    width:3rem ;
    font-size:1rem;
    color: #999;
}
.form_name_4{
    display: inline-block;
    width:6rem;
    font-size:1rem;
    color: #999;
}
.form_name_5{
    display: inline-block;
    width:7rem ;
    font-size:1rem;
    color: #999;
}
.form_name_6{
    display: inline-block;
    width:7.6rem ;
    font-size:1rem;
    color: #999;
}
.form_name_7{
    display: inline-block;
    width:9rem ;
    font-size:1rem;
    color: #999;
}
.form_name_9{
    display: inline-block;
    width:12rem ;
    font-size:1rem;
    color: #999;
}
.form_name_radio{
    display: inline-block;
    width: 100%;
}

.form_name_radio_tmp{
    display: inline-block;
    width: 9rem;
    font-size:1rem;
    color: #999;
}

.fetch_data{
    width: calc(100% - 8rem);
    display: inline-block;
    text-align: right;

}
.fetch_data_4{
    width: calc(100% - 8rem);
    display: inline-block;
    text-align: right;
}
.fetch_data_long{
    width: 100%;
    /* height: 2rem;
    background: #aaa; */
    margin: 0.6rem 0;
}
.fetch_data_checkbox{
    /* margin-left: 7.25rem; */
    display: flex;
    justify-content:flex-start;
    flex-wrap:wrap

}
.fetch_data_zhu{
	display: inline-block;
	width: calc(100% - 9rem);
	text-align: right;
}
.check_div{
    /* width: 33%; */
    width: 100%;
    margin-right: 1.2rem;
    line-height: 2rem;
    font-size: 1rem;
    color: #111;
}
.fetch_data_huji{
    display: inline-block;
    width: calc(100% - 5rem);
    text-align: right;
}
select{
    border: none;
    outline:none;
    background: #fff;
    text-align: right;
    font-size:1rem;
    line-height: 1.4rem;
    height: 1.4rem;
    -webkit-appearance: none;
    color: #111;
    width: 80%;
    direction: rtl;
}
.select_half{
    width: 49%;
}
.select_huji{
    width: 30%;
    margin: 0;
    padding: 0;
}
option{
    text-align: right;

}
.title{
    padding: 0.6rem 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: bold;
}
.btn_middle{
    clear: both;
    display: flex;
    justify-content: space-between;
    border-top: 0.5rem solid #f6f6f6;
    border-bottom: 0.5rem solid #f6f6f6;
    line-height: 3rem;

}
.add_btn{
    border: none;
    background: #fff;
    border-radius: 0.4rem;
    color: #00a2ff;
    font-size: 1.4rem;

}
.add_img{
    width: 2rem;
    height: 2rem;
    padding-top: 0.5rem;
}
.add_data{
    /* width: calc(100% - 4rem); */
    /* border: 0.05rem solid #000; */
    clear: both;
    /* margin: 1rem 2rem; */
    /* padding-bottom: 2rem; */
    /* box-shadow:0px 0px  10px 5px #ccc; */
    position: relative;
    border-top:  0.5rem solid #f6f6f6;;
}
.add_data_title{
    display: flex;
    justify-content: space-between;
    padding: 0 1.2rem;
}
h4{
    margin: 0;
    padding: 1rem 0;
    font-size: 1.4rem;
    font-weight: normal;
    color: #00a2ff;
}
.delete{
    display: inline-block;
    width: 3rem;
    margin: 1rem 0;
    font-size:1.2rem;
    text-align: center;
    border: 0.1rem solid red;
    border-radius: 0.3rem;
    color: red;

}
.btn_img{
    text-align: right;
}
/* .form_name_sort{
    display: inline-block;
    width:4rem ;
} */
.date{
    width: 6.6rem;
}
.allScreen{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(153, 153, 153,0.5);
    display: none;
}
.submitModal{
    width: 16rem;
    height: 8rem;
    border: 0.06rem solid #999;
    background: #fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 0.3rem;
}
#submitModal{
    width:80%;
    height:20rem;
}
#submitModal2{
    width:80%;
    height:15rem;
}
.successimg{
    width:5rem;
    margin-top: 2rem;
}
.successTxt{
    line-height: 5rem;
    font-size: 1.5rem;
    color:#00a2ff ;
}
.alertModal{
    height: 4rem;
}
.submitModal_middle{
    text-align: center;
    padding: 0.6rem 0;
}
.submitModal_button{
    /* text-align: center;
    padding: 1rem 0; */
    display: flex;
    justify-content: space-around;
}
.submitModal_button>div{
    width: 36%;
    height: 3rem;
    border: 0.05rem solid #00a2ff;
    font-size:1.4rem;
    border-radius: 0.2rem;
    line-height: 3rem;
    text-align: center;
}
#btn_back{
    color: #00a2ff;
    background: #fff;
}
#btn_add{
    color: #fff;
    background: #00a2ff;
}
.alertModal_title{
    padding: 0.2rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.2rem;
}
#content{
    font-size: 1rem;
    line-height:1.5rem;
    color: #f55454;
    padding: 0.3rem;
}
.red{
    color: red;
}

#footer{
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #fff;
    visibility: hidden;
}
#footer2{
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #fff;
    position: fixed;
    bottom: 0;
}
.editData{
    display: block;
    width: 90%;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    color:#fff;
    background: #00a2ff;
    font-size: 1.4rem;
    text-decoration: none;
    border-radius: 0.3rem;
}
.footer_btn{
    width: 46%;
    height: 3rem;
    margin: 1rem 0;
    text-align: center;
    font-size: 1.6rem;
    line-height: 3rem;
    border-radius: 0.3rem;
    /* background: linear-gradient(to bottom,#6ebcf0,#0966f1); */

}
.go_back{
    color:#00a2ff;
    background: #e6e6e6;
}
.go_submit{
    color:#fff;
    /* background: #007bff; */
    background: linear-gradient(to bottom,#00bfff,#007bff);
}
#form{
    padding-top: 3rem;
    /*margin-bottom: 5rem;*/
}
.promptTxt{
    height: 1rem;
    text-indent: 7rem;
    font-size: 0.6rem;
    color: #f55454;
    text-align: right;
}
.left{
    text-align: left;
}
input{
    width: calc(100% - 9rem);
    border-color: transparent;
    outline:none;
    background: #fff;
    text-align: right;
    font-size:1rem;
    -webkit-appearance: none;
    color: #111;
}

input::-webkit-input-placeholder {
    color: #999;
  }
  input::-moz-input-placeholder {
    color: #999;
  }
  input::-ms-input-placeholder {
    color: #999;
  }

.input_data{
    width: 100%;
    text-align: left;
    height: 2.4rem;
}
.input_number{
    width: calc(100% - 12rem);
    text-align: right;
    height: 2.4rem;
}
.input_half{
    width: calc(50% - 1rem);
    text-align: left;
}
input::-webkit-calendar-picker-indicator {
    /* display: none;
    -webkit-appearance: none; */
}
.allTime{
    /* border: 0.05rem solid #aaa; */
}
#stayFlag{
    width: 1rem;
}
.checkbox{
    color: #111;
    width: 0.8rem;
}
.time{
    width: calc(100% - 13rem);
}
#checkTemperature{
    width: calc(100% - 12rem);
}


.otherTxt{
    width: 100%;
    /* border: 0.05rem solid #aaa; */
    height: 2rem;
    /* border-radius: 0.3rem; */
    text-align: left;
}



.form_name_6_input{
    width: calc(100% - 9rem);
}
.form_name_7_input{
    width: calc(100% - 12rem);
}
textarea{
    width: 100%;
    border: none;
    /* height: 6rem; */
    border-radius: 0.3rem;
    margin: 0.6rem 0;
    color: #111;
    font-size:1rem;
    background: #f6f6f6;
}
.lastContactDate{
    width: calc(100% - 9rem);
}
.select_4{
    width: calc(100% - 6rem);
}

.registerAddress{
    width: calc(100% - 9.6rem);
}

#districtStreet,#currentAddressStreet{
   width: 48%;
   margin: 0;
   padding: 0;
}
#community{
    /* width: 14rem; */
    margin-right: 1rem;
}

#psex{
    /* width:100%; */
    /* direction: rtl; */
    margin-right: 1rem;
}

.radio_div{
    line-height: 2.2rem;
    color: #111;
}
.checkbox:checked {
	background:#00a2ff
}
.checkbox {
	width:1rem;
	height:1rem;
	background-color:#ffffff;
	border:solid 1px #dddddd;
	-webkit-border-radius:50%;
	border-radius:50%;
	font-size:0.8rem;
	margin:0.5rem 0.3rem;
	padding:0;
	position:relative;
	display:inline-block;
	vertical-align:top;
	cursor:default;
	-webkit-appearance:none;
	-webkit-user-select:none;
	user-select:none;
	-webkit-transition:background-color ease 0.1s;
    transition:background-color ease 0.1s;
    color: #111;
}
.checkbox:checked::after {
	content:'';
	top:0;
	left:0.1rem;
	position:absolute;
	background:transparent;
	border:#fff solid 2px;
	border-top:none;
	border-right:none;
	height:0.4rem;
	width:0.6rem;
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
#epidemicArea{
	font-size: 1rem;
    color: #111;
    display: flex;
    justify-self: start;
}

.epidemicArea{
    width: 3.6rem;
    height: 1.6rem;
    text-align: center;
    border:0.02rem solid #4491ff;
    margin-right: 1rem;
    line-height: 1.6rem;
    color:#4491ff ;
    background: #fff;
}
.checked{
    color:#fff ;
    background: #4491ff;
}
.happenDate_div{
    display: flex;
    justify-content: start;
    line-height: 3rem;
}
.happenDate_input{
    width: 9.6rem;
}
.recordType{
    margin: 0.9rem 0.3rem;
}

.select_6{
    width: 100%;
}


#modal{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    background: rgb(0, 0, 0,0.2);
    z-index: 6;
}
#modal>img{
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
