*{
    padding: 0;
    margin: 0;
}
li{list-style: none;}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #fff;
    height: 1.4rem;
    width: 100%;
    line-height: 1.4rem;
    border-bottom:0.02rem solid #eee;
    padding: 0 0.1rem;
    .at-icon-chevron-left{
        position: absolute;
        left: 0;
        top: 0.2rem;
        margin: auto 0;
        z-index: 6;
    }

    .Htitle{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom:0 ;
        text-align: center;
        font-size: 0.8rem;
    }
}
.orderList{
    background:#f5f5f5;
    opacity:1;
    ul{
        // margin-top: 1.6rem;
        // padding-top: 1.6rem;
    }
    ul>li{
        background:rgba(255,255,255,1);
        margin-bottom: 0.5rem;
        .commonPad{
            padding: 0 0.5rem;
        }
        span{
            display: inline-block;
            vertical-align: top;
        }
        .name{
            height: 1.8rem;
            line-height: 1.8rem;
            border-bottom:0.02rem solid #f5f5f5;
            .left{
                width: 70%;
                height:1.8rem;
                font-size:0.8rem;
                font-family:'PingFang SC';
                font-weight:400;
                line-height:1.8rem;
                color:rgba(51,51,51,1);
                opacity:1; 
                overflow:hidden;/*超出部分隐藏*/
                text-overflow:ellipsis;/*超出部分显示省略号*/
                white-space:nowrap;/*规定段落中的文本不进行换行 */
            }
            .right{
                width: 30%;
                text-align: right;
                height:1.8rem;
                font-size:0.5rem;
                font-family:'PingFang SC';
                font-weight:400;
                line-height:1.8rem;
                color:rgba(255,138,1,1);
                opacity:1;
            }
        }
        .number{
            font-size:0.5rem;
            font-family:'PingFang SC';
            font-weight:400;
            line-height:1.4rem;
            color:rgba(102,102,102,1);
            opacity:1;
        }
        .content{
            padding: 0.3rem 0.5rem;
            .left{
                width:3.6rem;
                img{
                    width:3.6rem;
                    height:2.4rem;
                    vertical-align: top;
                }
            }
            .middle{
                width:7rem;
                font-size:0.52rem;
                font-family:'PingFang SC';
                font-weight:400;
                line-height:0.8rem;
                color:rgba(51,51,51,1);
                opacity:1;
                // text-indent: 0.6rem;
                padding: 0 0.5rem;
            }
            .right{
                width:3.2rem;
                font-size:0.7rem;
                font-family:'PingFang SC';
                font-weight:400;
                line-height:0.8rem;
                color:rgba(51,51,51,1);
                opacity:1;
                float: right;
                text-align: right;
            }
        }
        .total{
            font-size:0.7rem;
            font-family:'PingFang SC';
            font-weight:400;
            line-height:1.6rem;
            color:rgba(102,102,102,1);
            opacity:1;
            .right{
                display: block;
                text-align: right;
            }
        }
    }

}
.orderDetail{
    .at-tabs--horizontal{
        // margin-top: 1.6rem;
        // padding-top: 1.6rem;
    }
    .at-tabs__item{
        font-size: 0.6rem;
    }
    .at-tabs__item--active{
        color: #D70000;
    }
    .at-tabs__item-underline{
        background-color: #D70000;
        right: 0;
        margin: 0 auto;
        width: 16%;

    }
    .orderStatus{
        padding: 0.6rem 0.8rem;
        .at-timeline-item__content{
            min-height:5rem !important;
        }
        .at-timeline-item__dot .at-icon, .at-timeline-item__icon .at-icon{
            font-size: 0.7rem !important;
            color:#D70000 !important;
            margin-top: -0.1rem;
            margin-left: -0.13rem;
        }
        .at-timeline-item__tail{
            border-color: #D70000 !important;
            border: 1px solid #D70000 !important;
        }
        .at-head-content{
            height: 1rem;
            .left{
                float: left;
                font-size:0.55rem ;
            }
            .redColor{
                color:#D70000
            }
            .right{
                float: right;
                font-size: 0.45rem;
            }
        }
        .footer{
            width: 100%;
            line-height:2rem;
            .descripe{
                font-size:0.5rem;
                font-weight:400;
                color:rgba(102,102,102,1);
                opacity:1;
                padding: 0 0.8rem;
                margin:0 -0.8rem;
                background:rgba(237,237,237,1);
                opacity:1;
                .at-icon-alert-circle{
                    vertical-align: none;
                    // line-height: 2rem;
                }
            }
            .footer-btn{
                padding: 0.6rem 0;
                .at-button--primary{
                    background-color: #D70000;
                    font-size: 0.7rem;
                }
            }
        }
    }
    .orderDetails{
        background:rgba(245,245,245,1);
        opacity:1;
        .number{
            background:#fff;
            font-size:0.5rem;
            font-family:'PingFang SC';
            font-weight:400;
            line-height:2rem;
            color:rgba(102,102,102,1);
            opacity:1;
            padding: 0 0.5rem;
        }
        .content{
            background:#fff;
            padding:0 0.5rem;
            font-family:'PingFang SC';
            opacity:1;
            .storeName{
                font-size:0.6rem;
                font-weight:400;
                line-height:1rem;
                color:rgba(102,102,102,1);
                opacity:1;
            }
            table{
                width: 100%;
                .list-tr{
                    display:table;
                    width: 100%;
                    td{
                        display: table-cell;
                        width: 33.33%;
                        height: 2.4rem;
                        &.shopName{
                            width:50%;
                            font-size:0.7rem;
                            font-weight:400;
                            line-height:0.8rem;
                            color:rgba(51,51,51,1);
                            opacity:1;
                            .shopTime{
                                font-size:0.5rem;
                                font-weight:400;
                                line-height:0.9rem;
                                color:rgba(153,153,153,1);
                                opacity:1;
                            }
                        }
                        &.shopNum{
                            width:15%;
                            text-align: center;
                            font-size:0.6rem;
                            font-weight:400;
                            line-height:0.7rem;
                            color:rgba(153,153,153,1);
                            opacity:1;
                        }
                        &.shopPrice{
                            width:35%;
                            text-align-last: right;
                            font-size:0.7rem;
                            font-weight:400;
                            line-height:0.8rem;
                            color:#d70000;
                            opacity:1;
                        }
                    }
                }
                .shopTotal{
                    height: 2.6rem;
                    text-align: right;
                    font-size:0.6rem;
                    line-height:1rem;
                    color:rgba(153,153,153,1);
                    opacity:1;
                    border-top:0.02rem solid #eee;
                    span{
                       font-size: 0.8rem; 
                       line-height:0.8rem;
                       color:#d70000;
                       opacity:1;
                    }
                }
            }
        }
        .orderAddress{
            background:#fff;
            // height: 8rem;
            margin-top: 0.5rem;
            .message{
                font-size:0.7rem;
                font-weight:400;
                line-height:2rem;
                color:rgba(153,153,153,1);
                opacity:1;
                padding: 0 0.5rem;
                border-bottom:0.02rem solid #eee;
            }
            table{
                width: 100%;
                padding: 0 0.5rem;
                tr:nth-child(1){
                    height: 2rem;
                    .takeName{
                        width: 40%;
                        font-size:0.65rem;
                        font-weight:400;
                        line-height:0.8rem;
                        color:rgba(51,51,51,1);
                        opacity:1;
                    }
                    .takeNo{
                        width: 30%;
                        font-size:0.58rem;
                        font-weight:400;
                        line-height:0.8rem;
                        color:rgba(153,153,153,1);
                        opacity:1;
                        text-align: center;
                    }
                    .takePhone{
                        width: 30%;
                        font-size:0.58rem;
                        font-weight:400;
                        line-height:0.8rem;
                        color:rgba(153,153,153,1);
                        opacity:1;
                        text-align: right;
                    }
                }
                tr:nth-child(2){
                    height: 3.2rem;
                    .getAddress{
                        font-size:0.58rem;
                        font-weight:400;
                        line-height:0.8rem;
                        color:rgba(153,153,153,1);
                        opacity:1;
                        .address{
                            font-size:0.7rem;
                            font-weight:400;
                            line-height:1.4rem;
                            color:rgba(51,51,51,1);
                            opacity:1;
                        }
                    }
                }
                tr:nth-child(3){
                    height: 3.2rem;
                    .getTime{
                        font-size:0.58rem;
                        font-weight:400;
                        line-height:0.8rem;
                        color:rgba(153,153,153,1);
                        opacity:1;
                        .time{
                            font-size:0.7rem;
                            font-weight:400;
                            line-height:1.4rem;
                            color:rgba(51,51,51,1);
                            opacity:1;
                        }
                    }
                }
            }
        }
    }
    .backQrcode{
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:rgba(0,0,0,0.4);
        opacity:1;
        z-index: 3999;
        overflow: hidden;
        .qrcodeBox{
            position: absolute;;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 12rem;
            height: 14rem;
            background: #fff;
            border-radius: 0.4rem;
        }
        #myQrcode{
            margin: 0.2rem auto;
            display: block;
            width: 10rem !important;
            height: 10rem !important;
        }
        h3{
            text-align: center;
            font-family:'PingFang SC';
            font-size: 0.65rem;
            font-weight:400;
            line-height:1rem;
            color:rgba(215,0,0,1);
            opacity:1;
        }
        p{
            text-align: center;
            font-size:0.5rem;
            font-family:PingFang SC;
            font-weight:400;
            line-height:1.8rem;
            color:rgba(102,102,102,1);
            opacity:1;
        }
    }
}
.orderSubmit{
    background: #f5f5f5;
    .orderName{
        height: 2rem;
        // display: table;
        // width: calc(100% - 1rem);
        padding: 0 0.5rem;
        background: #fff;
        // margin-top: 1.6rem;
        // padding-top: 1.6rem;
        li{
            // display: table-cell;
            width: 33.33%;
            float: left;
            vertical-align:middle;
            line-height: 2rem;
        }
        .takeName{
            font-size:0.65rem;
            font-weight:400;
            // line-height:0.8rem;
            color:rgba(51,51,51,1);
            opacity:1;
        }
        .takeNo{
            font-size:0.58rem;
            font-weight:400;
            // line-height:0.8rem;
            color:rgba(153,153,153,1);
            opacity:1;
            text-align: center;
        }
        .takePhone{
            font-size:0.58rem;
            font-weight:400;
            // line-height:0.8rem;
            color:rgba(153,153,153,1);
            opacity:1;
            text-align: right;
        }
    }
    .orderAddress{
        background:#fff;
        // height: 8rem;
        margin-top: 0.4rem;

        table{
            padding: 0 0.5rem;
            width: 100%;
            tr:nth-child(1){
                width: 100%;
                height: 3.2rem;
                .getAddress{
                    font-size:0.58rem;
                    font-weight:400;
                    line-height:0.8rem;
                    color:rgba(153,153,153,1);
                    opacity:1;
                    .address{
                        font-size:0.65rem;
                        font-weight:400;
                        line-height:1.4rem;
                        color:rgba(51,51,51,1);
                        opacity:1;
                    }
                }
                .setAddress{
                    text-align: right;
                }
            }
            tr:nth-child(2){
                height: 3.2rem;
                .getTime{
                    font-size:0.58rem;
                    font-weight:400;
                    line-height:0.8rem;
                    color:rgba(153,153,153,1);
                    opacity:1;
                    .time{
                        font-size:0.7rem;
                        font-weight:400;
                        line-height:1.4rem;
                        color:rgba(51,51,51,1);
                        opacity:1;
                    }
                }
            }
        }
    }
    .content{
        margin-top: 0.6rem;
        margin-bottom: 4.2rem;
        li{
            background: #fff;
            margin-bottom: 0.3rem;
            table{
                width: 100%;
                .content-order-name{
                    
                    td{
                        font-size:0.65rem;
                        font-family:'PingFang SC';
                        font-weight:400;
                        line-height:2rem;
                        color:rgba(51,51,51,1);
                        opacity:1;
                        border-bottom: 1px solid #f5f5f5;
                        padding: 0 0.5rem;
                    }
                }
                .content-order-list{
                    width: 100%;
                    height: 2.6rem;
                    td:nth-child(1){
                        font-size:0.65rem;
                        font-family:'PingFang SC';
                        font-weight:400;
                        line-height:1rem;
                        color:rgba(51,51,51,1);
                        opacity:1;
                        padding: 0 0.5rem;
                        span{
                            font-size:0.55rem;
                            font-family:'PingFang SC';
                            font-weight:400;
                            line-height:0.6rem;
                            color:rgba(153,153,153,1);
                            opacity:1;
                        }
                    }
                    td:nth-child(2){
                        font-size:0.76rem;
                        font-family:'PingFang SC';
                        font-weight:400;
                        line-height:2rem;
                        color:#D70000;
                        opacity:1;
                        text-align: right;
                        padding: 0 0.5rem;
                    }
                }
            }
        }
    }
    .footer{
        width: 100%;
        line-height:1.6rem;
        position:fixed;
        left: 0;
        bottom: 0;
        background: #fff;
        .descripe{
            padding: 0 0.5rem;
            font-size:0.5rem;
            font-weight:400;
            color:rgba(102,102,102,1);
            opacity:1;
            background:rgba(237,237,237,1);
            opacity:1;
            .at-icon-alert-circle{
                vertical-align: none;
                // line-height: 2rem;
            }
        }
        .footer-btn{
            height: 2.6rem;
            .total{
                float: left;
                width: 65%;
                line-height: 2.6rem;
                text-indent: 0.8rem;
                font-size:0.65rem;
                font-family:'PingFang SC';
                font-weight:400;
                color:rgba(51,51,51,1);
                opacity:1;
                span{
                    font-size: 0.9rem;
                    color: #D70000;
                }
            }
            .submitBtn{
                float: left;
                width: 35%;
                background: rgba(223, 41, 41, 1);
                line-height: 2.6rem;
                text-align: center;
                font-size: 0.65rem;
                color: #fff;
                font-family:'PingFang SC';
                font-weight:400;
                opacity:1;
                cursor: pointer;
            }
        } 
    } 
    .shopCar_load{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 6999;
        background-color: rgb(242, 242, 242,0.5);
      }
}

.comfirmOrder{
    // margin-top: 1.6rem;
    padding-top: 1.6rem;
    .content{
        text-align: center;
        padding-top: 2.4rem;
        img{
            width:3.8rem;
        }
        h3{
            font-size:1rem;
            font-family:'PingFang SC';
            font-weight:400;
            line-height:2rem;
            color:rgba(51,51,51,1);
            opacity:1;
        }
        p{
            font-size:0.65rem;
            font-family:'PingFang SC';
            font-weight:400;
            line-height:0.7rem;
            color:rgba(153,153,153,1);
            opacity:1;
        }
    }
}