@import "~taro-ui/dist/style/index.scss";

.shop_lsit {
  width: 100%;
  // height: auto;
  overflow-y: auto;
  font-family: PingFang SC;
  background: rgba(245, 245, 245, 1);
  overflow-x: hidden;
  .top_title {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    line-height: 66.75px;
    font-size: 31px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    background: #fff;
    .back_up {
      position: absolute;
      left: 27.31px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .shop_content {
    width: 100%;
    height: auto;
    .shop_main {
      width: 100%;
      height: auto;
      background: #fff;
      margin-top: 17.07px;
      .busin_name {
        width: 100%;
        height: auto;
        line-height: 95.57px;
        padding: 0 20.48px;
        box-sizing: border-box;
        font-size: 27px;
        color: rgba(51, 51, 51, 1);
      }
      .busin_wares {
        width: 100%;
        height: auto;
        ul {
          width: 100%;
          height: auto;
          margin: 0;
          list-style-type: none;
          margin-block-start: 0;
          margin-block-end: 0;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          padding-inline-start: 0;
          box-sizing: border-box;
          padding: 0 20.48px;
          border-top: 1px solid #f3f3f3;
          li {
            width: 100%;
            height: auto;
            border-top: 1px solid #f3f3f3;
            box-sizing: border-box;
            padding: 27.31px 0;
            .li_row {
              width: 100%;
              position: relative;
              .left_img {
                width: auto;
                height: auto;
                position: absolute;
                left: 0;
                top: 0;
                img {
                  width: 199.68px;
                  height: auto;
                }
              }
              .right_content {
                width: 100%;
                height: auto;
                padding-left: 220.16px;
                box-sizing: border-box;
                .busin_name {
                  width: 100%;
                  height: auto;
                  font-size: 27px;
                  font-weight: 400;
                  line-height: 41px;
                  color: rgba(51, 51, 51, 1);
                  margin: 0;
                  padding: 0;
                  box-sizing: border-box;
                }
                .busin_time {
                  font-size: 20px;
                  line-height: 36px;
                  color: rgba(153, 153, 153, 1);
                  margin: 0;
                  padding: 0;
                  box-sizing: border-box;
                }
                .busin_price {
                  font-size: 34px;
                  line-height: 41px;
                  color: rgba(215, 0, 0, 1);
                  margin: 0;
                  padding: 0;
                  box-sizing: border-box;
                  margin-top: 24px;
                }
              }
            }
          }
          li:nth-of-type(1) {
            border-top: none;
          }
        }
      }
    }
    .shop_main:nth-of-type(1) {
      margin-top: 0;
    }
  }
}
